.even-row {
  cursor: pointer;
  background-color: hsl(43, 47%, 94%);
}

.odd-row {
  cursor: pointer;
  background-color: hsl(43, 47%, 97%);
}

.main-table {
  margin-top: 30px;
}

a:hover {
  text-decoration: underline !important;
}

.pagination-root {
  margin: 0 16px 8px !important;
  position: absolute;
  right: 0;
  bottom: 0;
}
